:root {
  --color-primary: #49a6e9;
  --color-text: #324d67;
  --color-body: #f1f5f8;
  --font-primary: "Open Sans", sans-serif;
  --letter-spacing: 0.16rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --trasition: all 0.5s;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  background: var(--color-body);
  color: var(--color-text);
  font-family: var(--font-primary);
  font-size: 1.6rem;
  line-height: 1.5;
}
