:root {
  --color-primary: #49a6e9;
  --color-text: #324d67;
  --color-body: #f1f5f8;
  --font-primary: "Open Sans", sans-serif;
  --letter-spacing: 0.16rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --trasition: all 0.5s;
}
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Typography */
html {
  font-size: 62.5%;
}
body {
  background: var(--color-body);
  color: var(--color-text);
  font-family: var(--font-primary);
  font-size: 1.6rem;
  line-height: 1.5;
}

/* Links */
a {
  text-decoration: none;
}

/* Lists */
.list {
  list-style: none;
  padding-left: 0;
}

/* Icons */
.icon {
  width: 15px;
  height: 15px;
}
.icon--large {
  width: 25px;
  height: 25px;
}
.icon--primary {
  color: var(--color-primary);
}

/* Collapsibles */
.collapsible__header {
  display: flex;
  justify-content: space-between;
}
.collapsible__toggler {
  transition: var(--trasition);
}
.collapsible__content {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: var(--trasition);
}
.collapsible--expanded .collapsible__toggler {
  transform: rotate(90deg);
}
.collapsible--expanded .collapsible__content {
  max-height: 100%;
  opacity: 1;
}
