:root {
  --color-primary: #49a6e9;
  --color-secondary: #a5d5f8;
  --color-text: #324d67;
  --color-body: #f1f5f8;
  --font-primary: "Open Sans", sans-serif;
  --letter-spacing: 0.16rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --trasition: all 0.5s;
}
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Typography */
html {
  font-size: 62.5%;
}
body {
  background: var(--color-body);
  color: var(--color-text);
  font-family: var(--font-primary);
  font-size: 1.6rem;
  line-height: 1.5;
}

/* Links */
a {
  text-decoration: none;
}

/* Lists */
.list {
  list-style: none;
  padding-left: 0;
}

/* Icons */
.icon {
  width: 18px;
  height: 18px;
  cursor: pointer;
}
.icon--large {
  width: 25px;
  height: 25px;
}
.icon--primary {
  color: var(--color-primary);
}

/* Collapsibles */
.collapsible__header {
  display: flex;
  justify-content: space-between;
}
.collapsible__toggler {
  transition: var(--trasition);
}
.collapsible__content {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: var(--trasition);
}
.collapsible--expanded .collapsible__toggler {
  transform: rotate(90deg);
}
.collapsible--expanded .collapsible__content {
  /* Its crucial to use 'vh' instead of %. Because the content
  area shuts abruptly if % is used. It also works if we used fixed
  value like 'rem'*/
  max-height: 100vh;
  opacity: 1;
  transition: var(--trasition);
}

/* Navigation Bars */
.nav {
  background: #fff;
  box-shadow: var(--light-shadow);
}
.nav-center {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1.6rem;
}
.nav__list {
  width: 100%;
  margin: 0 0 1.5rem 0;
}
.nav__item {
  color: var(--color-text);
  cursor: pointer;
  border-radius: 4px;
  letter-spacing: var(--letter-spacing);
  padding: 0.8rem;
  transition: var(--trasition);
}
.nav__item:hover {
  background: var(--color-secondary);
  padding: 0.8rem 0.8rem 0.8rem 2rem;
}
.nav__item:hover.nav__item > a {
  color: var(--color-primary);
}
.nav__item a {
  color: var(--color-text);
}
.nav img {
  height: 4rem;
}
.nav-center .icon-container {
  margin: auto;
}
.nav-center .icon {
  margin-right: 0.5rem;
}
.icon-container.collapsible__content .icon--primary:hover {
  transition: var(--trasition);
  color: var(--color-secondary);
}
@media screen and (min-width: 768px) {
  .nav-center {
    max-width: 1170px;
    margin: auto;
  }
  .nav .collapsible__toggler {
    display: none;
  }
  .nav__list {
    margin: 0;
  }
  .nav__list,
  .icon-container {
    width: auto;
    display: flex;
    max-height: 100%;
    opacity: 1;
  }
  .nav-center .icon-container {
    display: flex;
    align-items: center;
    margin: 0;
  }
  .icon-container .icon {
    margin-right: 1rem;
  }
  .nav__item:hover {
    background: none;
    color: var(--color-secondary);
    padding: 0.8rem;
  }
}
